<header class="header bg-white">
  <!--topbar-->
  <div class="topbar">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-4 col-md-4 col-12 col-5050">
          <div class="top-left">
            <ul class="menu-top-link">
              <!-- <li>
                <div class="select-position">
                  <select id="select4">
                    <option value="0" selected="">$ USD</option>
                    <option value="1">€ EURO</option>
                    <option value="2">$ CAD</option>
                    <option value="3">₹ INR</option>
                    <option value="4">¥ CNY</option>
                    <option value="5">৳ BDT</option>
                  </select>
                </div>
              </li> -->
              <li>
                <div class="select-position">
                  <select id="select5">
                    <option value="0" selected="">English</option>
                    <option value="1">Español</option>
                    <option value="2">Filipino</option>
                    <option value="3">Français</option>
                    <option value="4">العربية</option>
                    <option value="5">हिन्दी</option>
                    <option value="6">বাংলা</option>
                  </select>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <!-- <div class="col-lg-4 col-md-4 col-12">
          <div class="top-middle">
            <ul class="useful-links">
              <li><a href="index.html">Home</a></li>
              <li><a href="about-us.html">About Us</a></li>
              <li><a href="contact.html">Contact Us</a></li>
            </ul>
          </div>
        </div> -->
        <div class="col-lg-4 col-md-4 col-12 col-5050">
          <div class="top-end">
            <ul class="user-login">
              <li>
                <a href="login.html">Sign In</a>
              </li>
              <li>
                <a href="register.html">Register</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container px-lg-3">
    <!--navbar-->
    <nav class="navbar navbar-expand-lg navbar-light py-3 px-lg-0">
      <!-- <button
        class="navbar-toggler navbar-toggler-end"
        type="button"
        data-bs-toggle="collapse"

        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button> -->
      <div class="navbar-collapse">
        <a class="navbar-nav me-auto logo">K-SHOP </a>

        <div class="navbar-nav ms-auto me-auto displaynone">
          <form action="#">
            <div class="input-group my-input-group">
              <button
                class="btn btn-dark my-btn"
                id="button-addon2"
                type="submit"
              >
                Category
              </button>
              <input
                class="my-input"
                type="email"
                placeholder="Search Products Here....."
                aria-describedby="button-addon2"
              />
              <div class="my-search">
                <i class="fas fa-search"></i>
              </div>
            </div>
          </form>
        </div>

        <!-- <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="cart.html">
              <i class="fas fa-dolly-flatbed me-1 text-gray"></i
            ></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#!">
              <i class="far fa-heart me-1"></i
              ><small class="text-gray fw-normal"> (0)</small></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#!">
              <i class="fas fa-user me-1 text-gray fw-normal"></i>Login</a
            >
          </li>
        </ul> -->
        <div class="navbar-nav ms-auto" style="gap: 20px">
          <a
            href="#"
            class="single-icon"
            style="color: #333; font-size: 20px; position: relative"
            ><i class="fas fa-shopping-cart"></i>
            <span
              class="total-count"
              style="
                position: absolute;
                top: -7px;
                right: -9px;
                background: #f6931d;
                width: 15px;
                height: 15px;
                line-height: 16px;
                text-align: center;
                color: #fff;
                border-radius: 100%;
                font-size: 11px;
              "
              >2</span
            ></a
          >
          <a
            href="#"
            class="single-icon"
            style="color: #333; font-size: 20px; position: relative"
          >
            <!-- <fa-icon [icon]="faHeartCircleCheck"></fa-icon> -->
            <i class="fa fa-heart"></i>
            <span
              class="total-count"
              style="
                position: absolute;
                top: -7px;
                right: -9px;
                background: #f6931d;
                width: 15px;
                height: 15px;
                line-height: 16px;
                text-align: center;
                color: #fff;
                border-radius: 100%;
                font-size: 11px;
              "
              >2</span
            ></a
          >
        </div>
      </div>
    </nav>
  </div>
</header>
